@charset "UTF-8";

h4 {
    color: #000;
}

p {
    text-align: center;
    background-color: #90ee90;
    font-size: 20px;
    height: 150px;
    width: 300px;
    margin: auto;
}

a:link, a:visited {
    background-color: #000;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 90px;
}

a:hover, a:active {
    background-color: #333;

}

/* Input fields*/
#name, #location, #description {
    color: #000;
    background-color: #cccccc;
    border: 1px solid #555;
    border-radius: 90px;
    width: 85%;
    cursor: auto;
}
span{
    border-radius: 90px;
}
span:hover {
    background-color: #cccccc;
}


