@charset "UTF-8";

/* Button */
[type=submit] {
    background-color: #333333;
    color: white;
    cursor: pointer;
    position: center;
}

/* Input fields*/
#username, #password, #email {
    color: #000;
    background-color: #cccccc;
    border: 1px solid #555;
    border-radius: 90px;
    width: auto;
    cursor: auto;
}

/* Minnka fieldset */
fieldset {
    width: 400px;
}

/* Tooltips */
span {
    font-size: small;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
}
/* Link buttons */
a:link, a:visited {
    background-color: #000;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #333;
}
