@charset "UTF-8";
h4 {
    color: #000;
    text-align: left;
}

select {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#text {
    color: #000;
    background-color: #cccccc;
    border: 1px solid #555;
    border-radius: 90px;
    width: auto;
    cursor: auto;
}