@charset "UTF-8";
body {
    background-image: url("../css/images/search-bg.jpg"); background-attachment:fixed;
    height: 800px;
    background-position: center;
    background-size: cover;
    position: relative;
}
/* input field */
#name {
    color: #000;
    background-color: #cccccc;
    border: 1px solid #555;
    border-radius: 90px;
    width: 85%;
    cursor: auto;
}

input {
    margin: auto;
}
span{
    border-radius: 90px;
}
span:hover {
    background-color: #cccccc;
}